@import "base.scss";
@import "reset.scss";
@import "common.scss";

div.content{
  div.currPos{
    height:45px;
    line-height: 45px;
    border-bottom: 2px solid #09f;
    @include sl();
    &>a{
      color:#4d4d4d;
      &:hover{
        text-decoration: underline;
      }
      &.curr{
        text-decoration : none;
      }
    }
  }
  div.listContent{
    position: relative;
    padding-left: 220px;
    margin-top:20px;
    &>div.leftMenu{
      position: absolute;
      left:0;
      top:0;
      width:200px;
      border-radius: 6px;
      border:1px solid #ddd;
      background-color: #fff;
      @include boxShadow(0 1px 1px rgba(0,0,0,0.05));
      &>div{
        font-weight: bold;
        line-height: 42px;
        border-bottom:1px solid #ddd;
        text-align: center;
        background-color: #f5f5f5;
        &>span.arrow{
          display: none;
          margin-left:8px;
        }
      }
      &>ul.navMenu{
        margin:8px;
        padding:0;
        border-radius: 8px;
        border:1px solid #e9e9e9;
        &>li{
          height:46px;
          line-height:46px;
          padding-left:20px;
          border-bottom: 1px solid #e9e9e9;
          @include transition(all 0.4s);
          cursor: pointer;
          &:last-child{
            border-bottom-width:0;
          }
          &.curr,&:hover{
            color:#428bca;
            background-color: #f5f5f5;
          }
        }
      }
      &.fixed{
        //@include boxShadow(0 0 6px rgba(0, 0, 0, 0.2));
        position: fixed;
        top:70px;
        &.bottomFixed{
          top:inherit;
          bottom:190px;
        }
      }
    }
    &>div.articleContent{
      border:1px solid #e9e9e9;
      border-radius: 8px;
      padding:20px 25px;
    }
  }
  div.list{
    display: none;
    &.active{
      display: block;
    }
    &>ul{
      width:100%;
      &>li{
        position: relative;
        width:100%;
        height:32px;
        line-height: 32px;
        font-size:15px;
        border-bottom:1px dotted #9d9d9d;
        text-align: right;
        margin-bottom:4px;
        &:first-child{
          padding-top:5px;
        }
        &>a{
          display: block;
          position: absolute;
          height:33px;
          left:0;
          right:130px;
          @include sl();
          color:#4d4d4d;
          text-align: left;
          &:hover{
            color:#428bca
          }
        }
      }
    }
    &>div.foot{
      margin-top:15px;
      font-size:14px;
      &>input{
        display: none;
      }
      &>span>span{
        font-weight: bold;
        margin:0 4px;
      }
      &>a{
        margin-left:10px;
        &:hover{
          cursor: pointer;
        }
      }
    }
    &>table.economic-data{
      width:94%;
      margin:20px auto;
      border-collapse: collapse;
      border-spacing: 0;
      font-size: 14px;
      line-height: 90px;
      tr.even{
        background: #fff;
      }
      tr.odd{
        background: #eee;
      }
      th,td{
        border: 1px solid #ddd;
        text-align: center;
        &>a{
          color:#4d4d4d;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    &>div#mapInfo{
      position: absolute;
      display: none;
      width:90px;
      height:45px;
      left:10px;
      top:60px;
      z-index: 999;
      background-color: rgba(0,0,0,0.6);
      border-radius: 5px;
      line-height:45px;
      text-align: center;
      color:#fff;
      letter-spacing: 2px;
    }
    &>div#mapContainer{
      width:100%;
      height:600px;
    }
  }
}

@media screen and (max-width:1000px) {
  div.content{
    &>div.listContent{
      padding-left:0 !important;
      &>div.leftMenu{
         display: none;
      }
      &>div.articleContent{
        padding:10px 15px;
      }
    }
    div.list{
      &>table.economic-data{
        margin:0;
        width:100%;
      }
    }
  }
}

@media screen and (max-width:374px){
  div.content{
    &>div.currPos{
      font-size:14px;
    }
    &>div.listContent{
      &>div.articleContent{
        padding:5px 8px;
      }
    }
    &>div.articleContent{
      font-size:14px;
    }
    div.list>ul>li{
      font-size:14px;
    }
  }
}